.index {
  position: relative;
  padding: 0;

  &__section {
    padding: 0 40px;
    margin-top: 40px;

    &-title {
      font-size: 24PX;
      color: #000;
      font-weight: bold;
      margin-bottom: 20px;
      text-shadow: 0 0 2px #eee;
    }
  }
}

.track {
  height: 230PX;
  box-shadow: 0 8px 25px #ccc;

  &__cover {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__overlay {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: #fff;
    opacity: 0.7
  }

  &__notice {
    position: relative;
    z-index: 10;
    color: #777;
  }
}

.slider {
  white-space: nowrap;
  width: 100%;

  &__item {
    position: relative;
    background-color: #fff;
    width: 88%;
    display: inline-block;
    border-radius: 3PX;
    overflow: hidden;
    margin-right: 40px;
    border: 1px solid #eee;
    height: 190PX;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    height: 40PX;
    line-height: 40PX;
    padding-left: 10PX;
  }

  &__image {
    width: 100%;
    height: 190PX;
  }
}

.timeline {
  &__item {
    position: relative;
    padding: 0 0 12PX;

    &-tail {
      border-left: 1px solid #e9eaec;
      height: 100%;
      left: 7PX;
      top: 3PX;
      position: absolute;
    }

    &-head {
      width: 12PX;
      height: 12PX;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #2d8cf0;
      position: absolute;
      top: 3PX;
    }

    &-content {
      padding: 0 24PX 10PX ;

      image {
        border-radius: 3PX;
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: 10PX;
  color: #d3d3d3;
}
